.banner{
    background-image: url(/static/images/pexels-nataliya-vaitkevich-6532603.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }
  .overlaybanner{
    background-color: black;
    opacity: 0.7;
    height:80vh;
  }
  .award{
    font-size:50px;
  }