.banner{
    background-image: url(/static/images/pexels-nataliya-vaitkevich-6532603.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }
  .overlaybanner{
    margin-top: 0px;
    height:95vh;
    background-color: black;
    opacity: 0.6;

  }
  .award{
    font-size:50px;
  }